@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display&display=swap');


body {
background: black url("https://c4.wallpaperflare.com/wallpaper/100/279/758/stardew-valley-moon-landscape-pixel-art-hd-wallpaper-preview.jpg") no-repeat fixed center;
background-size:cover;
color:white;
font-family:'Lora', serif;

}

header { 
text-align:center;
margin-bottom: 30px;
padding:65px;
width:50%;

}

a {
  color:white;
}
a:visted {
  color:white;
}
a:hover {
  color: rgb(238, 152, 255);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
  }
    nav li {
      float: left;
    }
    
    nav a {
      display: block;
      padding: 8px;
      text-decoration: none;
      color:white;
     
    }
  li a:hover {
      background-color: rgb(154, 63, 168);
       color:white;
  }

  h1, h2,h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  p { 
    text-indent: 5px;
    text-align:left;
    margin:5px 5px;

  }

  section {
    
    padding:25px;
    margin: 5px 5px;
    width:80%;

  }
img{
  
  float:right;
  margin: 5px 5px 5px;


}
  .bottom{
    float:left;
    text-align:left;
    margin:5px;
    padding:10px;
  }
  
  .clearfix{
    clear:right;
    overflow:hidden;
  }
  